/* @override http://localhost:8080/static/css/main.css */

/* @group Tags */

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  line-height: 1.2em;
  padding: 3em;
}

p, blockquote, dl, fieldset, form, ol, ul, table {
  margin-bottom: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 1em;
}

a {
  color: #2F97D8;
  font-weight: bold;
}

a:hover {
  background-color: #2F97D8;
  color: #fff;
  text-decoration: none;
}

/* @group Forms */

fieldset {
  border: 1px solid #999;
  margin-bottom: 1.2em;
  padding: 1.2em 1.2em 1px;
}

legend {
  color: #333;
  font-weight: bold;
}

label {
  font-weight: bold;
  display: block;
}

input[type=text],
input[type=password],
textarea {
  width: 99%;
}

/* @end */

/* @group Lists */

ul, ol {
  padding-left: 2.4em;
}

ul li {
  list-style: disc;
}

ol li {
  list-style-type: decimal;
  margin-bottom: 1.2em;
}

ol ol {
  margin-top: 1.2em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.2em 1.2em;
}

/* @end */

/* @group Tables */

table {
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid #97CBEC;
  font-weight: bold;
  padding: 0.2em 0.4em;
}

td {
  border-top: 1px solid #CBE5F5;
  padding: 0.2em 0.4em;
}

/* @end */

ins {
  color: green;
}

del {
  color: red;
}

/* @end */

/* @group Classes */

.breadcrumbs {
  font-size: 0.92em;
  line-height: 1.304347826086957em;
  margin-bottom: 1.304347826086957em;
}

.widget {
  clear: right;
  background-color: #CBE5F5;
  float: right;
  margin-bottom: 1.2em;
  width: 180px;
  padding: 1.2em 1.2em 1px;
}

.description {
  display: block;
  color: #999;
  font-size: 0.92em;
  line-height: 1.304347826086957; 
}

.links {
  padding: 0;
}

.links li {
  list-style: none;
}

.form-item {
}

.form-item.inline label {
  display: inline;
  margin-right: 0.2em;
}

.form-item.inline input[type=text] {
  width: auto;
}

.form-item.inline .description {
  display: inline;
}

/* @end */

/* @group Layout */

/* @group Register Form */

#register-form {
  width: 50%;
}

/* @end */

/* @group Edit Form */

#edit-form .form-submit {
  background-color: #97CBEC;
  padding: 0.6em;
}

#edit-form .kwargs dd {
  margin-left: 0;
}

/* @end */

/* @group Revisions */

#revisions .version {
  white-space: nowrap;
}

#revisions .version:before {
  content: "#";
}

#revisions .form-submit {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

/* @end */

/* @end */
