{% extends "main.html" %}

{% block title %}Delete {{ page.title }}{% endblock %}

{% block body %}
<h1>Delete {{ page.title }}</h1>

<div class="main">
    <form action="/delete/{{ page.address }}" id="delete-form" method="post">
        
        <p>Are you sure you want to delete the page {{ page.title }} at {{ page.address }}.  This cannot be undone.</p>
        
      <p class="form-submit">
        <input type="submit" name="submit" value="Delete" />
      </p>
    </form>
    
</div>

{% endblock %}        
