{% extends "main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
<h1>{{ page.title }}</h1>

<div class="main">
    {{ page.contents[0].body | markdown }}
</div>

<p>
    <a href="/edit/{{ page.address }}">Edit this page</a>
</p>        

{% if page.tags %}
<h2>Tags</h2>
<ul id="tags">
    {% for tag in page.tags %}
    <li class="tag">
        {{ tag }}
    </li>&nbsp;
    {% endfor %}
</ul>
{% endif %}

<div id="rating">
    <h2>Rating</h2>
    {% for i in range(1,6) %}
        {% if i <= page.rating.score %}
            <a href="#"><img src="/static/icons/star.png" id="{{ i }}" class="rating"/></a>
        {% else %}
            <a href="#"><img src="/static/icons/bullet_star.png" id="{{ i }}" class="rating"/></a>            
        {% endif %}
    {% endfor %}
</div>

<script type="text/javascript" charset="utf-8">

var url = "http://localhost:8080/{{ page.stub }}/rating";

$each($$('.rating'), function(el){
    el.addEvent('click', function(ev) {
        ev = new Event(ev).stop();
        
        new Ajax(url, {
            method: 'post',
            update: $('rating'),
            data: {'rating':el.id},
        }).request();
    })
})

</script>

{% if page.comments %}
<h2>Comments</h2>
    {% for comment in page.comments %}
<div class="comment">
    <a href="mailto:{{ comment['email'] }}">{{ comment['name'] }}</a> said:<br>
    {{ comment['body'] }}
</div>
    {% endfor %}
<div id="latest-comment-placeholder"></div>
{% endif %}

<h2>Leave a comment</h2>
<form action="/comment/{{ page.address }}" method="post" accept-charset="utf-8" id="comment-form">
    <label for="name">Name:</label><input type="text" name="name" value="">
    <label for="email">Email:</label><input type="text" name="email" value="">
    <label for="body">Comment:</label><textarea name="body" rows="8" cols="40"></textarea>
    <p><input type="submit" value="Submit"></p>
</form>
<script type="text/javascript" charset="utf-8">
$('comment-form').addEvent('submit', function(e) {
    e = new Event(e).stop();
 
    var url = "http://localhost:8080/comment/{{ page.address }}";
 
    new Ajax(url, {
        method: 'post',
        update: $('latest-comment-placeholder'),
        data: $('comment-form'),
    }).request();
});
</script>







{% endblock %}