Jinja2==2.6
SQLAlchemy==0.7.9
Werkzeug==0.8.1
lxml>=3.0
cssselect
nose
pytest
forked-path
pyjade
-e git+git://github.com/Singletoned/validino.git#egg=validino
-e git+git://github.com/Singletoned/testino.git#egg=testino
