div(data-attr="fooble")
  img(src="snuggle.gif", alt="A Snuggle")
  a(href="/contact") contact
  a.button(href="/save") save
  a(foo="foo, bar, baz", bar="1")
  a(foo="((foo))")
  select
    option(selected="selected", value="foo") Foo
    option(selected="selected", value="bar") Bar
