html
  body
    // [if IE lt 9]>
    // <script src="/lame.js"></script><![endif]
    div
      // foo
      ul
        // bar
        li one
      // asdf
      // <!-- baz
      li two
        | -->
      // <ul>
      // <li>foo
      // </li>
      // </ul>
