{% extends "main.html" %}

{% block title %}Edit {{ page['stub'] }}{% endblock %}

{% block body %}
<h1>Edit {{ page['stub'] }}</h1>

<div class="main">
    <form action="/save/{{ page.stub }}" id="edit-form" method="post">
        <p class="form-item">
            <label for="stub">Stub</label>
            <input type="text" name="stub" value="{{ page['stub'] }}" id="stub" />
        </p>

        <p class="form-item">
            <label for="body">Body</label>
            <textarea name="body" rows="32" cols="64" id="body">{{ page['body'] }}</textarea>
        </p>

        <p class="form-item">
            <label for="tags">Tags</label>
            <input type="text" name="tags" value="{{ page.tags | join(', ') }}" id="tags" />
        </p>

      <p class="form-submit">
        <input type="submit" name="submit" value="Save" />
      </p>
    </form>
    
</div>

{% if page.revisions %}
<div id="revisions">
    <h2>Revisions</h2>
    <ol>
    {% for rev in page.revisions %}
        <li><a href="/{{ page.stub }}/r/{{ loop.index }}">{{ rev.date_modified }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}        
