<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="/static/css/generic.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8" />
    </head>
    <body>
<div id="login">
{% if user %}
    Logged in as: {{ user.username }} | <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a> | <a href="/register">Register</a>
{% endif %}
</div>

{% block body %}

{% endblock %}
    </body>
</html>

