{% extends "main.html" %}

{% block title %}Register{% endblock %}

{% block body %}
<h1>Register</h1>

<div class="main">
    <form action="/register" id="register-form" method="post">
        <p class="form-item">
            <label for="username">Username:</label><input type="text" name="username" value="{{ form_data['username'] }}" id="username">
{% if errors['username'] %}
    <span class="error">{{ errors['username'] }}</span>
{% endif %}
        </p>

        <p class="form-item">
            <label for="email">Email:</label><input type="text" name="email" value="{{ form_data['email'] }}" id="email">
            {% if errors['email'] %}
                <span class="error">{{ errors['email'] }}</span>
            {% endif %}
        </p>
        
        <p class="form-item">
            <label for="password">Password:</label><input type="password" name="password" value="" id="password">
            {% if errors['password'] %}
                <span class="error">{{ errors['password'] }}</span>
            {% endif %}
            
        </p>

      <p class="form-submit">
        <input type="submit" name="submit" value="Register" />
      </p>
    </form>
    
</div>
{% endblock %}        
