<p class="form-item">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" size="100" maxlength="100" value="{{ object.title|e }}" />
  {% if errors.title %}<span class="form-error">{{ errors.title|e }}</span>{% endif %}
</p>

<p class="form-item">
  <label for="code">Code</label>
  <textarea name="code" id="code" cols="125" rows="25">{{ object.code|e }}</textarea>
  {% if errors.code %}<span class="form-error">{{ errors.code|e }}</span>{% endif %}
</p>

<p class="form-item">
  <label for="language_id">Language</label>
  <select name="language_id" id="language_id">
    {{ select_options(object.language_choices, object.language.id) }}
  </select>
</p>

<p class="form-item">
  <label for="freetags">Tags</label>
  <input type="text" name="freetags" id="freetags" size="100" maxlength="100" value="{{ object.freetags|e }}" />
</p>
