{% extends 'layouts/default.html' %}

{% block content %}
  <p class="breadcrumbs"><a href="{{ url_for('index') }}">{{ objects_name|e }}</a> » <a href="{{ url_for('show', id=object.id) }}">{{ object.title|e }}</a></p>

  <h1>Edit {{ object_name|e }}</h1>
  
  <form action="{{ url_for('update', id=object.id, method='POST') }}" method="post">
    {{ rendertemplate('%s/_form.html' % template_root) }}
    <p class="form-submit"><input type="submit" name="op" value="Save" /> <input type="submit" name="op" value="Delete" /> or <a href="{{ url_for('show', id=object.id) }}">Cancel</a></p>
  </form>

{% endblock %}
