{% extends 'layouts/default.html' %}

{% block content %}
  <p class="breadcrumbs"><a href="{{ url_for('index') }}">{{ objects_name }}</a></p>

  <h1>{{ object.title|e }}</h1>
  
  <p class="author">Posted {{ object.created_at|date }}</p>
  
  {% if object.tags %}
    <ul>
      {% for tag in object.tags %}
        <li><a href="#">{{ tag.name|e }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <div id="code">
    {{ object.code|highlight(object.language.short_name)}}
  </div>

  <p><a href="{{ url_for('edit', id=object.id) }}">Edit</p>
  
{% endblock %}
