{% include "macros/form.html" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Werkzeug Snippets</title>
    <link rel="stylesheet" href="/public/master.css" type="text/css" media="screen" />

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="container">
 
      <div id="header">
        {% block header %}
        {% endblock %}          
      </div> <!-- /#header -->
      
      <div id="main">
      
        <div id="content">
          
          <!-- Messages -->
          {% if flash %}
            <p id="flash">{{ flash|e }}</p>
          {% endif %}
          
          {% block content %}
          {% endblock %}
        </div> <!-- /#content -->
        
      </div> <!-- /#main -->
      
      <div id="footer">
 
      </div> <!-- /#footer -->
      
    </div> <!-- /#container -->
  </body>
</html>